# A Customer Churn Analysis for Model Selection

## Problem Analysis
First ,What is Customer Churn ?
Customer churn, also known as customer attrition or defection, refers to the rate at which customers stop doing business with a company over a given period. In simpler terms, it's the number of existing customers who stop being customers.

In [3]:
import pandas as pd

In [5]:
df=pd.read_csv("customer_churn_dataset-training-master.csv")
df

,CustomerID,Age,Gender,Tenure,Usage Frequency,Support Calls,Payment Delay,Subscription Type,Contract Length,Total Spend,Last Interaction,Churn
0,2.0,30.0,Female,39.0,14.0,5.0,18.0,Standard,Annual,932.00,17.0,1.0
1,3.0,65.0,Female,49.0,1.0,10.0,8.0,Basic,Monthly,557.00,6.0,1.0
2,4.0,55.0,Female,14.0,4.0,6.0,18.0,Basic,Quarterly,185.00,3.0,1.0
3,5.0,58.0,Male,38.0,21.0,7.0,7.0,Standard,Monthly,396.00,29.0,1.0
4,6.0,23.0,Male,32.0,20.0,5.0,8.0,Basic,Monthly,617.00,20.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
440828,449995.0,42.0,Male,54.0,15.0,1.0,3.0,Premium,Annual,716.38,8.0,0.0
440829,449996.0,25.0,Female,8.0,13.0,1.0,20.0,Premium,Annual,745.38,2.0,0.0
440830,449997.0,26.0,Male,35.0,27.0,1.0,5.0,Standard,Quarterly,977.31,9.0,0.0
440831,449998.0,28.0,Male,55.0,14.0,2.0,0.0,Standard,Quarterly,602.55,2.0,0.0
440832,449999.0,31.0,Male,48.0,20.0,1.0,14.0,Premium,Quarterly,567.77,21.0,0.0

### Lets start with analysis
first thing we have to see that the subscription type,contract length . different types of classes and the number of  values in these classes

In [14]:
df["Contract Length"].value_counts()

Contract Length
Annual       177198
Quarterly    176530
Monthly       87104
Name: count, dtype: int64

In [18]:
df["Subscription Type"].value_counts()

Subscription Type
Standard    149128
Premium     148678
Basic       143026
Name: count, dtype: int64

### Now , Lets compare the payment delay with churn 
As it is normal for people to overdue payment when they want to leave the subscription,
Then we will check other parameters like contract length,subscription type

In [7]:
true_df=df[df["Churn"]==1]
true_df

,CustomerID,Age,Gender,Tenure,Usage Frequency,Support Calls,Payment Delay,Subscription Type,Contract Length,Total Spend,Last Interaction,Churn
0,2.0,30.0,Female,39.0,14.0,5.0,18.0,Standard,Annual,932.00,17.0,1.0
1,3.0,65.0,Female,49.0,1.0,10.0,8.0,Basic,Monthly,557.00,6.0,1.0
2,4.0,55.0,Female,14.0,4.0,6.0,18.0,Basic,Quarterly,185.00,3.0,1.0
3,5.0,58.0,Male,38.0,21.0,7.0,7.0,Standard,Monthly,396.00,29.0,1.0
4,6.0,23.0,Male,32.0,20.0,5.0,8.0,Basic,Monthly,617.00,20.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
253688,260802.0,22.0,Female,31.0,26.0,0.0,30.0,Standard,Quarterly,924.84,21.0,1.0
253689,260803.0,61.0,Male,38.0,19.0,4.0,5.0,Standard,Quarterly,303.69,27.0,1.0
253690,260804.0,24.0,Male,54.0,21.0,7.0,8.0,Premium,Monthly,102.56,2.0,1.0
253691,260805.0,56.0,Male,42.0,30.0,9.0,7.0,Premium,Annual,337.81,20.0,1.0
253692,260806.0,29.0,Female,46.0,9.0,8.0,19.0,Basic,Monthly,248.28,21.0,1.0

### first we will analyze the payment delay column

In [9]:
df["Payment Delay"].describe(percentiles=[.90,.5,.25,.75])

count    440832.000000
mean         12.965722
std           8.258063
min           0.000000
25%           6.000000
50%          12.000000
75%          19.000000
90%          25.000000
max          30.000000
Name: Payment Delay, dtype: float64

In [23]:
very_long_delay=df["Payment Delay"][(df["Payment Delay"]>19) & (df["Payment Delay"]<25)]
very_long_delay

14        22.0
25        22.0
43        22.0
45        24.0
49        23.0
          ...
440752    20.0
440786    20.0
440791    20.0
440800    20.0
440829    20.0
Name: Payment Delay, Length: 50947, dtype: float64

In [25]:
very_long_delay.value_counts()

Payment Delay
20.0    17175
21.0     8670
22.0     8454
24.0     8325
23.0     8323
Name: count, dtype: int64

In [31]:
very_l_delay_churn=df["Churn"][(df["Payment Delay"]>19) & (df["Payment Delay"]<25)]
very_l_delay_churn

14        1.0
25        1.0
43        1.0
45        1.0
49        1.0
         ...
440752    0.0
440786    0.0
440791    0.0
440800    0.0
440829    0.0
Name: Churn, Length: 50947, dtype: float64

In [33]:
very_l_delay_churn.value_counts()

Churn
1.0    41768
0.0     9179
Name: count, dtype: int64

### Lets compare the above value count with df["Churn"].value_counts()
to make some conclusions

In [37]:
df["Churn"].value_counts()

Churn
1.0    249999
0.0    190833
Name: count, dtype: int64

okay so we conclude that the payment delay is an factor .

In [40]:
percentage=very_l_delay_churn.value_counts(normalize=True)*100
percentage

Churn
1.0    81.983237
0.0    18.016763
Name: proportion, dtype: float64

In [44]:
df["Churn"].value_counts(normalize=True)*100

Churn
1.0    56.71072
0.0    43.28928
Name: proportion, dtype: float64

### Now we will check the relative true values as compared to total true values

In [75]:
import numpy as np
(np.array(very_l_delay_churn).sum())/(np.array(true_df["Churn"]).sum())*100

16.707266829067315

### So we see that its a factor but not much of a factor
now lets analyze different columns similarly

In [78]:
true_df

,CustomerID,Age,Gender,Tenure,Usage Frequency,Support Calls,Payment Delay,Subscription Type,Contract Length,Total Spend,Last Interaction,Churn
0,2.0,30.0,Female,39.0,14.0,5.0,18.0,Standard,Annual,932.00,17.0,1.0
1,3.0,65.0,Female,49.0,1.0,10.0,8.0,Basic,Monthly,557.00,6.0,1.0
2,4.0,55.0,Female,14.0,4.0,6.0,18.0,Basic,Quarterly,185.00,3.0,1.0
3,5.0,58.0,Male,38.0,21.0,7.0,7.0,Standard,Monthly,396.00,29.0,1.0
4,6.0,23.0,Male,32.0,20.0,5.0,8.0,Basic,Monthly,617.00,20.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
253688,260802.0,22.0,Female,31.0,26.0,0.0,30.0,Standard,Quarterly,924.84,21.0,1.0
253689,260803.0,61.0,Male,38.0,19.0,4.0,5.0,Standard,Quarterly,303.69,27.0,1.0
253690,260804.0,24.0,Male,54.0,21.0,7.0,8.0,Premium,Monthly,102.56,2.0,1.0
253691,260805.0,56.0,Male,42.0,30.0,9.0,7.0,Premium,Annual,337.81,20.0,1.0
253692,260806.0,29.0,Female,46.0,9.0,8.0,19.0,Basic,Monthly,248.28,21.0,1.0

In [112]:
usage_freq=(true_df["Usage Frequency"].value_counts()/df["Usage Frequency"].value_counts())*100
usage_freq

Usage Frequency
1.0     61.716315
2.0     62.180004
3.0     60.767175
4.0     61.451030
5.0     61.395451
6.0     61.959843
7.0     59.837698
8.0     61.763206
9.0     61.227306
10.0    54.678595
11.0    55.162955
12.0    54.970683
13.0    54.751915
14.0    55.300119
15.0    54.557472
16.0    54.953509
17.0    54.642051
18.0    54.582745
19.0    55.031571
20.0    54.391139
21.0    55.106873
22.0    55.248251
23.0    55.414013
24.0    54.907567
25.0    54.262650
26.0    55.134135
27.0    55.029429
28.0    55.588862
29.0    54.521068
30.0    54.713761
Name: count, dtype: float64

In [120]:
print(df["Usage Frequency"].mode())

true_df["Usage Frequency"].mode()

0    11.0
Name: Usage Frequency, dtype: float64

0    6.0
Name: Usage Frequency, dtype: float64

In [135]:
df["Churn"][df["Usage Frequency"]==6].value_counts()/df["Churn"].value_counts()

Churn
1.0    0.034068
0.0    0.027401
Name: count, dtype: float64

In [137]:
df["Churn"][df["Usage Frequency"]==2].value_counts()/df["Churn"].value_counts()

Churn
1.0    0.033908
0.0    0.027018
Name: count, dtype: float64

Now lets check the two results together

In [142]:
df["Churn"][(df["Usage Frequency"]==6) |( (df["Payment Delay"]>19) & (df["Payment Delay"]<25))].value_counts()/df["Churn"].value_counts()

Churn
1.0    0.195273
0.0    0.074023
Name: count, dtype: float64

### Here as we see that the number of positive churns are far greater than negative churns

now lets analyze a diiferent parameter

In [146]:
df

,CustomerID,Age,Gender,Tenure,Usage Frequency,Support Calls,Payment Delay,Subscription Type,Contract Length,Total Spend,Last Interaction,Churn
0,2.0,30.0,Female,39.0,14.0,5.0,18.0,Standard,Annual,932.00,17.0,1.0
1,3.0,65.0,Female,49.0,1.0,10.0,8.0,Basic,Monthly,557.00,6.0,1.0
2,4.0,55.0,Female,14.0,4.0,6.0,18.0,Basic,Quarterly,185.00,3.0,1.0
3,5.0,58.0,Male,38.0,21.0,7.0,7.0,Standard,Monthly,396.00,29.0,1.0
4,6.0,23.0,Male,32.0,20.0,5.0,8.0,Basic,Monthly,617.00,20.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
440828,449995.0,42.0,Male,54.0,15.0,1.0,3.0,Premium,Annual,716.38,8.0,0.0
440829,449996.0,25.0,Female,8.0,13.0,1.0,20.0,Premium,Annual,745.38,2.0,0.0
440830,449997.0,26.0,Male,35.0,27.0,1.0,5.0,Standard,Quarterly,977.31,9.0,0.0
440831,449998.0,28.0,Male,55.0,14.0,2.0,0.0,Standard,Quarterly,602.55,2.0,0.0
440832,449999.0,31.0,Male,48.0,20.0,1.0,14.0,Premium,Quarterly,567.77,21.0,0.0

lets analyze support calls now

In [157]:
true_df["Support Calls"].mode()

0    10.0
Name: Support Calls, dtype: float64

In [161]:
(true_df["Support Calls"][true_df["Support Calls"]==10].value_counts()/true_df["Support Calls"].value_counts())*100

Support Calls
0.0       NaN
1.0       NaN
2.0       NaN
3.0       NaN
4.0       NaN
5.0       NaN
6.0       NaN
7.0       NaN
8.0       NaN
9.0       NaN
10.0    100.0
Name: count, dtype: float64

In [165]:
(df["Churn"][df["Support Calls"]==10].value_counts()/df["Churn"].value_counts())

Churn
0.0       NaN
1.0    0.0956
Name: count, dtype: float64

According to the above result if the person has done 10 calls then he /she will definately leave the service

In [168]:
true_df["Tenure"].value_counts()

Tenure
18.0    4370
22.0    4321
55.0    4304
5.0     4302
30.0    4292
32.0    4283
21.0    4263
2.0     4255
8.0     4244
4.0     4237
14.0    4236
56.0    4226
17.0    4221
38.0    4219
57.0    4218
15.0    4211
42.0    4210
16.0    4204
47.0    4204
52.0    4202
1.0     4188
48.0    4187
59.0    4180
20.0    4180
58.0    4179
51.0    4178
49.0    4178
46.0    4177
33.0    4175
43.0    4169
19.0    4164
54.0    4162
13.0    4159
24.0    4159
11.0    4156
45.0    4154
35.0    4154
34.0    4146
53.0    4143
41.0    4134
7.0     4131
26.0    4128
10.0    4125
6.0     4124
39.0    4120
12.0    4114
23.0    4109
50.0    4098
27.0    4098
28.0    4090
37.0    4085
29.0    4075
3.0     4071
44.0    4066
60.0    4065
9.0     4053
36.0    4052
40.0    4035
25.0    4025
31.0    3991
Name: count, dtype: int64

In [170]:
true_df["Tenure"].mode()

0    18.0
Name: Tenure, dtype: float64

In [174]:
df["Churn"][df["Tenure"]==18].value_counts()

Churn
1.0    4370
0.0    2406
Name: count, dtype: int64

In [176]:
df["Churn"][df["Tenure"]==18].value_counts()/df["Churn"].value_counts()

Churn
1.0    0.017480
0.0    0.012608
Name: count, dtype: float64

Okay We have gain enough insights now lets train our model

### We will be using logistic Regression with different class_weights and different regularization rule to see which gives optimal results we will use our previous analysis to determine weights.

In [282]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import train_test_split

In [246]:
df["Churn"].value_counts()
print(df.iloc[199295])
df.drop(199295,axis=0,inplace=True)
df["Churn"].isna()[df["Churn"].isna()==True]

CustomerID           204107.0
Age                      36.0
Gender                 Female
Tenure                   46.0
Usage Frequency          24.0
Support Calls             7.0
Payment Delay             1.0
Subscription Type       Basic
Contract Length       Monthly
Total Spend             118.9
Last Interaction         27.0
Churn                     1.0
Name: 199296, dtype: object

KeyError: '[199295] not found in axis'

In [256]:
df['Gender'][df['Gender']=='Male']=1
df['Gender'][df['Gender']=='Female']=0
df['Subscription Type'][df['Subscription Type']=='Basic']=0
df['Subscription Type'][df['Subscription Type']=='Standard']=1
df['Subscription Type'][df['Subscription Type']=='Premium']=2
df['Contract Length'].replace(["Annual","Quarterly"    
,"Monthly"],[2,1,0    
],inplace=True)
df

C:\Users\Dixit\AppData\Local\Temp\ipykernel_23540\3545530022.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df['Gender'][df['Gender']=='Male']=1
C:\Users\Dixit\AppData\Local\Temp\ipykernel_23540\3545530022.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Gender'][df['Gender']=='Male']=1
C:\Users\Dixit\AppData\Local\Temp\ipykernel_23540\3545530022.py:2: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df['Gender'][df['Gender']=='Female']=0
C:\Users\Dixit\AppData\Local\Temp\ipykernel_23540\3545530022.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Gender'][df['Gender']=='Female']=0
C:\Users\Dixit\AppData\Local\Temp\ipykernel_23540\3545530022.py:3: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df['Subscription Type'][df['Subscription Type']=='Basic']=0
C:\Users\Dixit\AppData\Local\Temp\ipykernel_23540\3545530022.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Subscription Type'][df['Subscription Type']=='Basic']=0
C:\Users\Dixit\AppData\Local\Temp\ipykernel_23540\3545530022.py:4: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df['Subscription Type'][df['Subscription Type']=='Standard']=1
C:\Users\Dixit\AppData\Local\Temp\ipykernel_23540\3545530022.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Subscription Type'][df['Subscription Type']=='Standard']=1
C:\Users\Dixit\AppData\Local\Temp\ipykernel_23540\3545530022.py:5: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df['Subscription Type'][df['Subscription Type']=='Premium']=2
C:\Users\Dixit\AppData\Local\Temp\ipykernel_23540\3545530022.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Subscription Type'][df['Subscription Type']=='Premium']=2

,CustomerID,Age,Gender,Tenure,Usage Frequency,Support Calls,Payment Delay,Subscription Type,Contract Length,Total Spend,Last Interaction,Churn
0,2.0,30.0,0,39.0,14.0,5.0,18.0,1,2,932.00,17.0,1.0
1,3.0,65.0,0,49.0,1.0,10.0,8.0,0,0,557.00,6.0,1.0
2,4.0,55.0,0,14.0,4.0,6.0,18.0,0,1,185.00,3.0,1.0
3,5.0,58.0,1,38.0,21.0,7.0,7.0,1,0,396.00,29.0,1.0
4,6.0,23.0,1,32.0,20.0,5.0,8.0,0,0,617.00,20.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
440828,449995.0,42.0,1,54.0,15.0,1.0,3.0,2,2,716.38,8.0,0.0
440829,449996.0,25.0,0,8.0,13.0,1.0,20.0,2,2,745.38,2.0,0.0
440830,449997.0,26.0,1,35.0,27.0,1.0,5.0,1,1,977.31,9.0,0.0
440831,449998.0,28.0,1,55.0,14.0,2.0,0.0,1,1,602.55,2.0,0.0
440832,449999.0,31.0,1,48.0,20.0,1.0,14.0,2,1,567.77,21.0,0.0

In [278]:
X=df.drop("Churn",axis=1)
weight_1=[0.01,0.1,0.2,0.25,0.40,0.50,0.70,0.2,0.56,0.5,0.3]
weight_2=[0.01,0.1,0.2,0.25,0.40,0.60,0.70,0.3,0.56,0.5,0.3]
          
print(X.columns)
print(len(weight_1))

Index(['CustomerID', 'Age', 'Gender', 'Tenure', 'Usage Frequency',
       'Support Calls', 'Payment Delay', 'Subscription Type',
       'Contract Length', 'Total Spend', 'Last Interaction'],
      dtype='object')
11

In [ ]:
clf=LogisticRegression(max_iter=10000000000)
classweight_1=dict(zip([x for x in range(0,11)],weight_1))
classweight_2=dict(zip([x for x in range(0,11)],weight_2))
grid={"penalty":['l1','l2'],
       "class_weight":[classweight_1,classweight_2]}
clf_cv=GridSearchCV(clf,grid,cv=10,n_jobs=-1)
X_train,X_test,Y_train,Y_test=train_test_split(X,df["Churn"])
X_train=np.array(X_train)
X_test=np.array(X_test)
Y_train=np.array(Y_train)
Y_test=np.array(Y_test)
clf_cv.fit(X_train,Y_train)